.cm {
    &__new-btn {
        float: right;
        margin-right: 10px;
    }

    &__save-btn {
        float: right;
    }

    &-edge {
        display: flex;
        flex-direction: column;

        &-node-select {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__label {
            align-self: center;
        }
    }
}

.fullscreen-enabled {
    background: #fff;
    height: 100%;
}